@import "_colors";

.preview {
	margin: 20px;
	-webkit-box-shadow: 0px 10px 20px 0px $asbestos;
	-moz-box-shadow: 0px 10px 20px 0px $asbestos;
	box-shadow: 0px 10px 20px 0px $asbestos;
	border: 1px solid $pomegranate;
	background-color: $clouds;
	padding: 4px;
}