@mixin serif() {
	font-family: Alegreya, Georgia, Arial, serif;
}

@mixin sans() {
	font-family: Lato, Arial, serif;
}

h1 {
	$font-size: 36px;
	@include serif;
	font-size: $font-size;
	line-height: $font-size;
	margin: $font-size/2 0 $font-size/4;
}
h2 {
	$font-size: 24px;
	@include serif;
	font-size: $font-size;
	line-height: $font-size;
	margin: $font-size/2 0 $font-size/4;
}
h3 {
	$font-size: 20px;
	@include sans;
	font-size: $font-size;
	line-height: $font-size;
	margin: $font-size/2 0 $font-size/4;
}

body {
	@include sans;
	font-size: 16px;
	line-height: 1.428;
}

p, li {
	margin-top: 7px;
}