@import "_colors";

form {
	.row {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	label {
		padding: 6px 0;
		display: block;
	}
}

textarea, input, select { outline: none; }

.form-element {
	padding: 6px 12px;
	border-radius: 3px;
	border: 1px solid $silver;
	display: block;
	width: 100%;
    -webkit-transition: border-color ease-in-out .1s,-webkit-box-shadow ease-in-out .1s;
    -o-transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s;
    transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s;

	&:focus {
		color: $peter-river;
		border-color: $peter-river;
		-webkit-box-shadow: 0px 0px 4px 0px $peter-river;
		-moz-box-shadow: 0px 0px 4px 0px $peter-river;
		box-shadow: 0px 0px 4px 0px $peter-river;
	}
}

.error .form-element, .form-element.error {
	color: $pomegranate;
	border-color: $pomegranate;

	&:focus {
		-webkit-box-shadow: 0px 0px 4px 0px $pomegranate;
		-moz-box-shadow: 0px 0px 4px 0px $pomegranate;
		box-shadow: 0px 0px 4px 0px $pomegranate;
	}
}

.warning .form-element, .form-element.warning {
	color: $orange;
	border-color: $orange;

	&:focus {
		-webkit-box-shadow: 0px 0px 4px 0px $orange;
		-moz-box-shadow: 0px 0px 4px 0px $orange;
		box-shadow: 0px 0px 4px 0px $orange;
	}
}

.success .form-element, .form-element.success {
	color: $nephritis;
	border-color: $nephritis;

	&:focus {
		-webkit-box-shadow: 0px 0px 4px 0px $nephritis;
		-moz-box-shadow: 0px 0px 4px 0px $nephritis;
		box-shadow: 0px 0px 4px 0px $nephritis;
	}
}