$border-radius: 3px;

.form {
	.row {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	label {
		padding: 6px 0;
		display: block;
	}

	/* Padding, Sizing */
	button, input[type='text'], input[type='password'], select, textarea {
		padding: 6px 12px;
		display: block;
		width: 100%;
		outline: none;
		margin: 0; // safari is introducing margin: 2px 0; to buttons.
	}

	.inline button, button.inline,
	.inline input[type='text'], input[type='text'].inline,
	.inline input[type='password'], input[type='password'].inline,
	.inline select, select.inline,
	.inline textarea, textarea .inline {
		display: inline-block;
		width: auto;
	}

	/* Filled items: button, input['submit']: .button */
	.button {
		cursor: pointer;
		padding: 5px 11px;

		&:disabled {
			cursor: not-allowed;
		}
	}

	/* Select / Dropdowns: button.dropdown */
	.dropdown {
		border: 0;
		cursor: pointer;

		&:after {
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f078";
			float: right;
			line-height: 1.428;
			font-size: inherit;
		}

		&.open:after {
			content: "\f077";
		}
	}
}
