@import "_colors";

@mixin rounded($radius) {
	border-radius: $radius;

	> :first-of-type {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	}

	> :last-of-type {
		border-bottom-left-radius: $radius;
		border-bottom-right-radius: $radius;
	}
}

.dark-bg {
	background-color: $midnight-blue;
	color: $clouds;
}

.light-bg {
	background-color: $clouds;
	color: $midnight-blue;

	.list-group {
		@include rounded(3px);

		background-color: $white;

		.header {
			border: 1px solid $midnight-blue;
			background-color: $midnight-blue;
			color: $clouds;
		}

		.list-item {
			border: 1px solid $silver;
			border-top: none;

			&:hover{
				color: $clouds;
				background-color: $turquoise;
				border-color: $green-sea;
			}
		}
	}
}