img {
	width: 100%;
	height: auto;
}

.box {
	margin-bottom: 1rem;

	.box-header {
		padding: 0.5rem 1rem;
	}

	.box-item {
		padding: 0.5rem 1rem;
		display: block;
		width: 100%;
		text-align: left;
	}

	button.box-item {
		cursor: pointer;
		outline: none;
		margin: 0; // safari is introducing margin: 2px 0; to buttons.
	}
}

.pil {
	display: inline-block;
	text-align: center;
	padding: 0 0.5rem;
}